FORK_MAINNET=false
IS_MAINNET=true

MAINNET_PRIVATE_KEY=
GAME_OWNER_MAINNET_PRIVATE_KEY=

TESTNET_PRIVATE_KEY=
TESTNET_USER_PRIVATE_KEY=

HARDHAT_OWNER_PRIVATE_KEY=
HARDHAT_RELAYER_PRIVATE_KEY=
HARDHAT_WALLETFUNDER_PRIVATE_KEY=

# LOCAL RPCs
LOCAL_RPC=http://127.0.0.1:8545/
LOCAL_WS=ws://127.0.0.1:8545/

#PROVIDERS
ARBITRUM_MAINNET_PROV=
ARBITRUM_TESTNET_PROV=

BASE_MAINNET_PROV=
BASE_TESTNET_PROV=

ETHSCAN_API_KEY=